# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8
# NE PAS MODIFIER ce fichier: il sera écrasé à chaque démarrage

Profile=@@Profile@@
#@@IF:IS_DBINST@@COMPOSE_PROJECT_NAME=@@Profile@@-dbinst-dre
#@@IF:IS_DBFRONT@@COMPOSE_PROJECT_NAME=dbfront-dre
#@@IF:IS_WEBFRONT@@COMPOSE_PROJECT_NAME=webfront-dre
