# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

# Source des paquets et proxy
APT_PROXY=
APT_MIRROR=default
SEC_MIRROR=default

# Timezone du serveur
TIMEZONE=Europe/Paris

# registre docker privé d'après lequel sont nommées les images
PRIVAREG=

################################################################################
# Ne pas toucher à partir d'ici

REGISTRY=pubdocker.univ-reunion.fr
