# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

# Par défaut, le mode simple est activé. Commentez ou supprimez la ligne
# suivante pour activer le mode avancé
MODE_SIMPLE=1

# Le mode simple ne peut faire tourner qu'une seule instance de base de données,
# et désactive le lancement des frontaux web et base de données.

# Le mode avancé permet de faire tourner une ou plusieurs instances de base de
# données derrière un frontal pgbouncer. De plus, un frontal web permet
# d'afficher les informations de connexion et de consulter les logs.

################################################################################
# Paramètres techniques
# Modifiez ces paramètres le cas échéant en suivant scrupuleusement les
# instructions de la documentation

DBNET=dremgr_db
DBVIP=127.0.0.1
DBHOST=localhost
DBPORT=5432
DBNAME=dre
PDBNAME=pdata
LBNET=
LBVIP="$DBVIP"
LBHOST="$DBHOST"
LBHTTP=7081
LBHTTPS=

################################################################################
# Paramètres utilisateurs
# Vous devez au minimum renseigner les paramètres dont la valeur est
# XXX_a_modifier

## Configuration de la base de données ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# utilisateur administrateur de la BDD
POSTGRES_USER=postgres
# mot de passe administrateur de la BDD
POSTGRES_PASSWORD=XXXRANDOMXXX

# utilisateur avec accès en lecture sur la bases de données dre et en écriture
# sur la base de données pdata
FE_USER=dreadmin
# mot de passe de l'utilisateur $FE_USER
FE_PASSWORD=XXXRANDOMXXX

# Utilisateurs supplémentaires et droits d'accès
FE_USERS="
reader:XXXRANDOMXXX
"
FE_ACCESS="
reader:ro
"

## Configuration du frontal pgbouncer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# ne configurer que si vous utilisez pgbouncer (ce n'est utile que si vous
# définissez plusieurs profils)

# mot de passe administrateur de pgbouncer
PGBOUNCER_ADMIN_PASS=XXXRANDOMXXX

## Configuration des profils ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# le profil par défaut est "prod". vous pouvez changer cette valeur ou en
# rajouter d'autres, séparées par des espaces.
APP_PROFILES="prod"

## prod <<<<<<<<<<<<

# Adresse du serveur des dumps DRE (e.g https://dre-dump.DOMAINEETAB.pc-scol.fr)
# utilisateur et mot de passe
prod_DRE_URL=XXX_a_modifier
prod_DRE_USER=dre
prod_DRE_PASSWORD=XXX_a_modifier
# paramètres techniques. ne modifiez ces paramètres que si vous savez ce que
# vous faites
prod_POSTGRES_HOST=prod_db
prod_INST_VIP="$DBVIP"
prod_INST_PORT=
prod_FE_HOST="$DBHOST"
prod_FE_PORT="$DBPORT"
prod_FE_DBNAME="prod_$DBNAME"

## profil <<<<<<<<<<

# Cette section est un modèle à copier/coller pour définir d'autres profils.
# Pour chacun des profils supplémentaires définis ci-dessus, faites une copie de
# cette section et remplacez toutes les occurrence de "profil" par le nom du
# profil nouvellement créé.

# Adresse du serveur des dumps DRE (e.g https://dre-dump.profil-DOMAINEETAB.pc-scol.fr)
# utilisateur et mot de passe
profil_DRE_URL=XXX_a_modifier
profil_DRE_USER=dre
profil_DRE_PASSWORD=XXX_a_modifier
# paramètres techniques. ne modifiez ces paramètres que si vous savez ce que
# vous faites
profil_POSTGRES_HOST=profil_db
profil_INST_VIP="$DBVIP"
profil_INST_PORT=
profil_FE_HOST="$DBHOST"
profil_FE_PORT="$DBPORT"
profil_FE_DBNAME="profil_$DBNAME"

## Configuration de la planification  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Liste d'addons à installer et/ou mettre à jour lors de chaque import
# journalier, un par ligne. Le préfixe https://github.com/ est rajouté
# automatiquement le cas échéant
# Ajouter un suffixe '#branch' pour spécifier une branche ou '^rev' pour
# spécifier un tag ou un id de commit, e.g PC-Scol/dreaddon.git#develop pour
# utiliser la branche develop
ADDON_URLS="
PC-Scol/dreaddon-documentation.git
PC-Scol/dreaddon-pilotage.git
"

# Planification cron pour le script d'import
# Les fichiers sont générés à 2h. on planifie à 4h par défaut pour laisser le
# temps à l'export de se terminer
CRON_PLAN="0 4 * * *"

# Désactiver les imports automatiques. La base de données est laisée en l'état
# et plus aucune mise à jour n'est lancée automatiquement
CRON_DISABLE=

# Nombre de jours maximums pendant lesquels garder les fichiers téléchargés. Les
# téléchargements plus anciens sont supprimés si l'importation des fichiers du
# jour se fait avec succès
CRON_MAX_AGE=15

# Liste de mappings d'hôte à installer dans le container
HOST_MAPPINGS=

# Temps maximum alloué à l'exécution de chaque script de notification en fin
# d'import
# Si un script tourne plus longtemps que le temps spécifié par $NOTIF_TIMEOUT,
# il reçoit un signal pour s'arrêter proprement.
# Si NOTIF_TIMEOUT_KILL est spécifié, attendre encore cette durée après le
# premier signal avant de forcer l'arrêt du script s'il ne s'était pas arrêté
NOTIF_TIMEOUT=30s
NOTIF_TIMEOUT_KILL=10s

################################################################################
# Paramètres techniques
# Ne modifiez ces paramètres que si vous savez ce que vous faites

__ALL__PGBOUNCER_DBS="$DBNAME $PDBNAME"
PGBOUNCER_USERS="${FE_USER}:${FE_PASSWORD} ${FE_USERS}"
PGADMIN_USER="$FE_USER"
PGADMIN_PASSWORD="$FE_PASSWORD"
ADMINER_USER="$FE_USER"
ADMINER_PASSWORD="$FE_PASSWORD"
ADMINER_DB="$DBNAME"

DATADIR=var

################################################################################
# Ne pas toucher à partir d'ici

PGUSER="$POSTGRES_USER"
PGDATABASE="$DBNAME"
POSTGRES_PROFILES="$APP_PROFILES"
