# -*- coding: utf-8 mode: yaml -*- vim:sw=2:sts=2:et:ai:si:sta:fenc=utf-8

version: "3.8"

services:
  pgbouncer:
    image: @@PRIVAREG@@dreinst/db
    command: pgbouncer
    env_file: all_profiles.env
    #@@IF:DBNET@@#networks:
    #@@IF:DBNET@@#  @@DBNET@@:
    #@@IF:DBPORT@@#ports:
    #@@IF:DBPORT@@#  - @@DBVIP@@@@DBPORT@@:5432
    deploy:
      update_config:
        order: stop-first
    restart: always

#@@IF:DBNET@@#networks:
#@@IF:DBNET@@#  @@DBNET@@:
#@@IF:DBNET@@#    external: true
