# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

HOST_MAPPINGS=
DBNET=
DBHOST=localhost
DBVIP=127.0.0.1
DBPORT=5432

# Adresse du serveur des dumps DRE e.g https://dre-dump.DOMAINEETAB.pc-scol.fr
DRE_URL=
# utilisateur et mot de passe
DRE_USER=dre
DRE_PASSWORD=

# nom d'hôte du serveur BDD (dans le réseau interne docker). ne pas modifier
POSTGRES_HOST=db
# utilisateur administrateur de la BDD. en général, il s'agit de posgres. ici,
# on choisit root pour faciliter l'accès via docker exec
POSTGRES_USER=root
# mot de passe administrateur de la BDD
POSTGRES_PASSWORD=admin

# nom d'hôte sur lequel est accessible la BDD (sur le réseau externe), et
# adresse d'écoute. Si FE_HOST ne vaut pas localhost, mettre une valeur vide (ou
# une adresse telle que 0.0.0.0) pour FE_VIP
FE_HOST="$DBHOST"
FE_VIP="$DBVIP"
# port d'écoute sur le réseau externe. mettre une valeur vide pour désactiver
# l'écoute directe
FE_PORT="$DBPORT"
# nom de la BDD créée pour contenir les données DRE
FE_DBNAME=dre
# utilisateur avec accès en lecture universel (il a accès en lecture à TOUTES
# les données). S'il faut créer des utilisateurs supplémentaires, il faut passer
# par un addon
FE_USER=reader
# mot de passe de l'utilisateur avec accès en lecture universel
FE_PASSWORD=reader

# Liste d'addons à installer lors de chaque import journalier, un par ligne
ADDON_URLS="\
https://github.com/PC-Scol/dreaddon-pilotage.git
"

# Planification cron pour le script d'import
# Les fichiers sont générés à 4h GMT, soit 5h heure de Paris. on planifie à 5h45
# par défaut pour laisser le temps à l'export de se terminer
CRON_PLAN="45 5 * * *"
