# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

DBNET=
DBVIP=127.0.0.1
DBHOST=localhost
DBPORT=5432
DBNAME=dre
LBNET=
LBVIP="$DBVIP"
LBHOST="$DBHOST"
LBHTTP=7081
LBHTTPS=

## Récupération des données chez PC-SCOL
# Adresse du serveur des dumps DRE e.g https://dre-dump.DOMAINEETAB.pc-scol.fr
DRE_URL=
# utilisateur et mot de passe
DRE_USER=dre
DRE_PASSWORD=

## Configuration du service postgresql
# nom d'hôte du serveur BDD (dans le réseau interne docker). ne pas modifier
POSTGRES_HOST=db
# utilisateur administrateur de la BDD
POSTGRES_USER=postgres
# mot de passe administrateur de la BDD
POSTGRES_PASSWORD=XXXRANDOMXXX

## Adresse et port d'écoute de l'instance
# - Si FE_HOST ne vaut pas localhost, mettre une valeur vide (ou une adresse
# telle que 0.0.0.0) pour INST_VIP
# - Si INST_PORT est vide, l'écoute directe est désactivée
INST_VIP="$DBVIP"
INST_PORT="$DBPORT"

## Informations à afficher à l'utilisateur
# Nom d'hôte sur lequel est accessible la BDD (sur le réseau externe), et
# port d'écoute.
FE_HOST="$DBHOST"
FE_PORT="$DBPORT"
# nom de la BDD créée pour contenir les données DRE
FE_DBNAME="$DBNAME"
# utilisateur avec accès en lecture universel (il a accès en lecture à TOUTES
# les données). S'il faut créer des utilisateurs supplémentaires, il faut passer
# par un addon
FE_USER=reader
# mot de passe de l'utilisateur avec accès en lecture universel
FE_PASSWORD=XXXRANDOMXXX

## Autres données

# Liste d'addons à installer et/ou mettre à jour lors de chaque import
# journalier, un par ligne
ADDON_URLS="
https://github.com/PC-Scol/dreaddon-documentation.git
https://github.com/PC-Scol/dreaddon-pilotage.git
"

# Planification cron pour le script d'import
# Les fichiers sont générés à 4h GMT, soit 5h heure de Paris. on planifie à 5h45
# par défaut pour laisser le temps à l'export de se terminer
CRON_PLAN="45 5 * * *"

# Liste de mappings d'hôte à installer dans le container
HOST_MAPPINGS=

################################################################################
# Ne pas toucher à partir d'ici

PGDATABASE=dre
PGUSER="$POSTGRES_USER"

APP_PROFILES=
APP_PROFILE_VARS=
POSTGRES_PROFILES=
