# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

DRE_URL=
DRE_USER=dre
DRE_PASSWORD=
DRE_PREFIX=
POSTGRES_HOST=db
POSTGRES_USER=root
POSTGRES_PASSWORD=admin
FE_HOST=localhost
FE_PORT=5432
FE_DBNAME=dre
FE_USER=reader
FE_PASSWORD=reader
