@CHARSET "utf-8";

.connstring {
  padding: 0.2em 1em;
  margin: 0 0.2em;
  /*
  background-color: #eee;
  */
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
}

#cron-content, #import-content {
  overflow: auto;
  max-height: 30em;
}
