# -*- coding: utf-8 mode: conf -*- vim:syntax=apache:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

<Location /_extauth.php>
    AuthType basic
    AuthName "Acces DREmgr avec compte et mot de passe"

    AuthUserFile auth_basic.auth
    Require valid-user
</Location>
