# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

APP_PROFILES="prod test"

DBNET=dremgr_db
DBVIP=127.0.0.1
DBHOST=localhost
DBPORT=5432
DBNAME=dre
PDBNAME=pdata
LBNET=
LBVIP="$DBVIP"
LBHOST="$DBHOST"
LBHTTP=7081
LBHTTPS=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=XXX_a_modifier
FE_USER=dreadmin
FE_PASSWORD=XXX_a_modifier
PGBOUNCER_DBS="$DBNAME $PDBNAME"
PGBOUNCER_USERS="$FE_USER:$FE_PASSWORD"
PGBOUNCER_ADMIN_PASS=XXX_a_modifier
PGADMIN_USER="$FE_USER"
PGADMIN_PASSWORD="$FE_PASSWORD"
ADMINER_USER="$FE_USER"
ADMINER_PASSWORD="$FE_PASSWORD"
ADMINER_DB="$DBNAME"

# prod
prod_DRE_URL=XXX_a_modifier
prod_DRE_USER=dre
prod_DRE_PASSWORD=XXX_a_modifier
prod_POSTGRES_HOST=prod_db
prod_INST_VIP="$DBVIP"
prod_INST_PORT=
prod_FE_HOST="$DBHOST"
prod_FE_PORT="$DBPORT"
prod_FE_DBNAME="prod_$DBNAME"

# test
test_DRE_URL=XXX_a_modifier
test_DRE_USER=dre
test_DRE_PASSWORD=XXX_a_modifier
test_POSTGRES_HOST=test_db
test_INST_VIP="$DBVIP"
test_INST_PORT=
test_FE_HOST="$DBHOST"
test_FE_PORT="$DBPORT"
test_FE_DBNAME="test_$DBNAME"

HOST_MAPPINGS=
ADDON_URLS="
PC-Scol/dreaddon-documentation.git
PC-Scol/dreaddon-pilotage.git
"
CRON_PLAN="0 4 * * *"
CRON_DISABLE=
CRON_MAX_AGE=15
MINIMIZE_DOWNTIME=1
NOTIF_TIMEOUT=30s
NOTIF_TIMEOUT_KILL=30s

################################################################################
# Ne pas toucher à partir d'ici

PGUSER="$POSTGRES_USER"
PGDATABASE="$DBNAME"
POSTGRES_PROFILES="$APP_PROFILES"
