# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

APP_PROFILES="prod test"

DBNET=dreinst_db
DBHOST=localhost
DBVIP=127.0.0.1
DBPORT=5432
DBNAME=dre
LBNET=
LBHOST=localhost
LBVIP=127.0.0.1
LBHTTP=7081
LBHTTPS=

POSTGRES_USER=root
POSTGRES_PASSWORD=CHANGEMEPLEASE
FE_USER=reader
FE_PASSWORD=CHANGEMEPLEASE
__ALL__PGBOUNCER_DBS="$DBNAME"
PGBOUNCER_USERS="${FE_USER}:${FE_PASSWORD}"
PGADMIN_USER="$FE_USER"
PGADMIN_PASSWORD="$FE_PASSWORD"

# prod
prod_DRE_URL=
prod_DRE_USER=dre
prod_DRE_PASSWORD=
prod_POSTGRES_HOST=prod_db
prod_INST_VIP="$DBVIP"
prod_INST_PORT=
prod_FE_HOST="$DBHOST"
prod_FE_PORT="$DBPORT"
prod_FE_DBNAME="$DBNAME"
prod_PGBOUNCER_DBS="$DBNAME:$DBNAME $DBNAME"

# test
test_DRE_URL=
test_DRE_USER=dre
test_DRE_PASSWORD=
test_POSTGRES_HOST=test_db
test_INST_VIP="$DBVIP"
test_INST_PORT=
test_FE_HOST="$DBHOST"
test_FE_PORT="$DBPORT"
test_FE_DBNAME="test_$DBNAME"

HOST_MAPPINGS=
ADDON_URLS="
https://github.com/PC-Scol/dreaddon-pilotage.git
"
CRON_PLAN="45 5 * * *"

################################################################################
# Ne pas toucher à partir d'ici

APP_PROFILE_VARS="
HOST_MAPPINGS
DRE_URL DRE_USER DRE_PASSWORD
POSTGRES_HOST POSTGRES_USER POSTGRES_PASSWORD
INST_VIP INST_PORT
FE_HOST FE_PORT FE_DBNAME FE_USER FE_PASSWORD
PGADMIN_USER PGADMIN_PASSWORD
ADMINER_DBHOSTS ADMINER_DBAUTO
ADDON_URLS
CRON_PLAN
"
POSTGRES_PROFILES="$APP_PROFILES"
